body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

form {
    margin: 2em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

.dice {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.dice-1 {
    background-image: url("../../src/Dice/img/1.png");
}

.dice-2 {
    background-image: url("../../src/Dice/img/2.png");
}

.dice-3 {
    background-image: url("../../src/Dice/img/3.png");
}

.dice-4 {
    background-image: url("../../src/Dice/img/4.png");
}

.dice-5 {
    background-image: url("../../src/Dice/img/5.png");
}

.dice-6 {
    background-image: url("../../src/Dice/img/6.png");
}

.yatzyblock {
    display: block;
    padding: 1em;
    width: 60%;
}

.yatzyblock input {
    height: 1.2em;
    float: right;
    width: 30%;
}

.sum {
    margin-top: 2em;
    border: 2px solid black;
}

.dicefield {
    width: 40%;
    min-height: 20em;
}

.halfpage {
    width: 40%;
    display: inline-block;
}